// for index page

.banner-lists{
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTcEc14nJVHlJwTKyHrNy3-NN8t7FL5SvtVGw&usqp=CAU");
  height: 75vh;
  width: 100%;
  // background-repeat: no-repeat;
  // // background-size: cover;
  // object-fit: fill;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

}