
.banner-show{  
  height: 100vh;
  width: 100%;
  // background-repeat: no-repeat;
  // // background-size: cover;
  // object-fit: scale-down;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
 

  h2{
    font-weight: bold;
    color: white;
  }
}


// display: flex;
// justify-content: center;
// align-items: center;
// border: 1px black solid;
// width: 200px;
// height: 150px;
// background-size: cover;
// background-position: center;

// h2{
//   font-weight: bold;
//   color: orange;
// }
// }
